body {
  font-family: $font;
  color: $site-text-color;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
li,
a {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link {
  text-decoration: none;
  color: $main-site-color;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  @media screen and(max-width:480px) {
    width: 480px;
  }
  @media screen and(min-width:768px) {
    width: 768px;
  }
  @media screen and(min-width:1280px) {
    width: 1280px;
  }
}
.section-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: $main-site-color;
  margin-bottom: 50px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.flex {
  display: flex;
}
// .adaptive {
//   @media screen and(max-width:480px) {
//     width: 480px;
//   }
//   @media screen and(max-width:768px) {
//     widows: 768px; ;
//   }
//   @media screen and(max-width:1280px) {
//     width: 1280px;

//   }
// }
