body {
  font-family: $font;
  color: $site-text-color;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
li,
a {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link {
  text-decoration: none;
  color: $main-site-color;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
// .section {
//   padding-bottom: 94px;
//   padding-top: 94px;
// }
.section-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: $main-site-color;
  margin-bottom: 50px;
  padding-top: 94px;
}
