// .section {
//   padding-bottom: 94px;
//   padding-top: 94px;
// }
// .first-section-name {
//   margin-top: 75px;
//   margin-bottom: 50px;
// }

// .item-title {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 16px;
//   text-transform: uppercase;
//   color: $main-site-color;
//   margin-top: 30px;
//   margin-bottom: 10px;
// }
.main-icon-svg {
  height: 120px;
}
// .logotip {
//   // display: flex;
//   align-items: center;
//   text-align: center;
//   justify-content: center;
//   width: 100%;
//   height: 120px;
//   border-radius: 4px;
//   background-color: $back-color;
// }
.benefits {
  &-logotip {
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: $back-color;
  }
  @media screen and(min-width:768px) {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  &-main-logo {
    @media screen and(min-width:768px) {
      width: 354px;
      // margin-right: -15px;
      // margin: 0;
    }
    @media screen and(min-width: 1280px) {
      width: 270px;
    }
  }

  // &-benefits-main-logo:not(:last-child) {
  //   margin-right: 30px;
  // }
  &-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $main-site-color;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  &-text {
    padding-bottom: 30px;
  }
}
