$main-site-color: #212121;
$hover-focus-color: #2196f3;
$text-color: #ffffff;
$background-color: #757575;
$back-color: #f5f4fa;
$footer-color: #2f303a;
$social-links-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: transform 250ms;
$font: "Roboto", sans-serif;
$site-text-color: #757575;
// $img: display block, max-width 100%, height auto;
